<div class="hero overlay" style="background-image: url('assets/images/bg_3.jpg');">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-9 mx-auto text-center">
        <h1 class="text-white">Search Match</h1>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-12">

  <form [formGroup]="searchForm">
    <div class="form-group">
      <input type="number" class="form-control" formControlName="scoreOne" placeholder="scoreOne">
    </div>
    <div *ngIf="searchForm.controls['scoreOne'].invalid &&
            (searchForm.controls['scoreOne'].touched ||
            searchForm.controls['scoreOne'].dirty)">
      <div *ngIf="searchForm.controls['scoreOne'].errors.required">score one is required</div>

    </div>


    <div class="form-group">
      <input type="number" class="form-control" formControlName="scoreTwo" placeholder="score two">
    </div>
    <div *ngIf="searchForm.controls['scoreTwo'].invalid && (searchForm.controls['scoreTwo'].touched ||
                  searchForm.controls['scoreTwo'].dirty)">
      <div *ngIf="searchForm.controls['scoreTwo'].errors.required">score Two is required</div>

    </div>

    <div class="form-group">
      <input type="submit" (click)="search()" [disabled]="searchForm.invalid" class="btn btn-primary py-3 px-5"
        value="search">
    </div>

  </form>
  <div>

    <div *ngFor="let m of matches">
      <app-result [matchInput]="m"></app-result>
    </div>
    
    <div *ngIf="matches?.length == 0">
      Not founded matches
    </div>
  </div>
</div>